@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-ExtraBold.eot');
  src: local('Commissioner ExtraBold'), local('Commissioner-ExtraBold'),
  url('../fonts/Commissioner-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-ExtraBold.woff2') format('woff2'),
  url('../fonts/Commissioner-ExtraBold.woff') format('woff'),
  url('../fonts/Commissioner-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Light.eot');
  src: local('Commissioner Light'), local('Commissioner-Light'),
  url('../fonts/Commissioner-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-Light.woff2') format('woff2'),
  url('../fonts/Commissioner-Light.woff') format('woff'),
  url('../fonts/Commissioner-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Bold.eot');
  src: local('Commissioner Bold'), local('Commissioner-Bold'),
  url('../fonts/Commissioner-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-Bold.woff2') format('woff2'),
  url('../fonts/Commissioner-Bold.woff') format('woff'),
  url('../fonts/Commissioner-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Medium.eot');
  src: local('Commissioner Medium'), local('Commissioner-Medium'),
  url('../fonts/Commissioner-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-Medium.woff2') format('woff2'),
  url('../fonts/Commissioner-Medium.woff') format('woff'),
  url('../fonts/Commissioner-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-ExtraLight.eot');
  src: local('Commissioner ExtraLight'), local('Commissioner-ExtraLight'),
  url('../fonts/Commissioner-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-ExtraLight.woff2') format('woff2'),
  url('../fonts/Commissioner-ExtraLight.woff') format('woff'),
  url('../fonts/Commissioner-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Black.eot');
  src: local('Commissioner Black'), local('Commissioner-Black'),
  url('../fonts/Commissioner-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-Black.woff2') format('woff2'),
  url('../fonts/Commissioner-Black.woff') format('woff'),
  url('../fonts/Commissioner-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Regular.eot');
  src: local('Commissioner Regular'), local('Commissioner-Regular'),
  url('../fonts/Commissioner-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-Regular.woff2') format('woff2'),
  url('../fonts/Commissioner-Regular.woff') format('woff'),
  url('../fonts/Commissioner-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-SemiBold.eot');
  src: local('Commissioner SemiBold'), local('Commissioner-SemiBold'),
  url('../fonts/Commissioner-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-SemiBold.woff2') format('woff2'),
  url('../fonts/Commissioner-SemiBold.woff') format('woff'),
  url('../fonts/Commissioner-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Thin.eot');
  src: local('Commissioner Thin'), local('Commissioner-Thin'),
  url('../fonts/Commissioner-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Commissioner-Thin.woff2') format('woff2'),
  url('../fonts/Commissioner-Thin.woff') format('woff'),
  url('../fonts/Commissioner-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}