$white: #fff;
$dark: #37363b;
$orange: #F5AA19;
$purple: #48288d;
$light-gray: #e8e8e8;
$orange-hovered: #d89829;
$transition-speed: 200ms;
$gray: #f5f5f6;
$contact-orange: #edb844;
$container-padding: 20px;
$mobile-breakpoint: 1024px;
$swiper-button: #ebebeb;
$gray-document: #38363b;
$icon-svg: #F5AA19;