@import "variables";
@import "mixins";
@import "fonts";
@import "buttons";
@import "contacts";

body,
html {
  height: 100%;
  font-family: Commissioner, sans-serif;
}

svg {
  display: block;
}

body {
  box-sizing: border-box;
  color: $dark;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .app-inner {
    flex: 1 0 auto;
  }
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  padding: 0 $container-padding;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;

  .logo-annotation {
    @include respond(0, 1755px) {
      display: none;
    }
    font-size: 11px;
    color: transparentize($dark, .5);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2.091;
    margin-left: 28px;
    padding-left: 26px;
    position: relative;
    letter-spacing: 2.2px;

    &:before {
      width: 1px;
      background: transparentize($dark, .7);
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      bottom: 2px;
    }
  }

  .logo-link {
    display: block;

    svg {
      max-width: 100%;
    }
  }
}

.phone {
  .phone-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }

}

.block-title {
  @include respond($mobile-breakpoint) {
    font-size: 52px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 34px;
  }
  font-weight: bold;
  line-height: 1.346;
  letter-spacing: .4px;
}

nav {
  display: flex;

  .nav-link {
    font-weight: 500;
    color: $dark;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .35px;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 0 8px;

    svg {
      margin-left: 10px;
    }

    @include respond(0, $mobile-breakpoint) {
      margin: 6px 0;
    }

    &:not(:last-child) {
      @include respond(1755px) {
        margin-right: 28px;
      }
      @include respond($mobile-breakpoint, 1755px) {
        margin-right: 20px;
      }
    }

  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.burger {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;

  @include respond(1275px) {
    display: none;
  }

  &:hover {
    .burger-line {
      background: $purple;
    }
  }

  .burger-line {
    transition: background $transition-speed ease;
    height: 2px;
    width: 32px;
    background: $dark;
    display: block;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

header {
  background: $white;
  box-shadow: 0 0 50px 0 rgba(38, 37, 39, 0.3);
  position: relative;
  z-index: 2;

  .full-height {
    height: 100px;
  }

  .phone {
    margin-right: 55px;
  }

  .logo {
    padding-right: 15px;
    @include respond(0, 1275px) {
      margin-right: auto;
    }
    @include respond(0, $mobile-breakpoint) {
      padding-right: 25px;
    }
  }

  .request {
    @include respond(0, 1275px) {
      display: none;
    }
  }

  nav {
    @include respond(0, 1275px) {
      display: none;
    }
    @include respond(1548px) {
      margin: 0 auto;
    }
    @include respond(1275px, 1548px) {
      margin-left: auto;
      margin-right: 25px;
    }

    .nav-link {
      &:after {
        content: '';
        position: absolute;
        background: $white;
        height: 4px;
        transition: opacity $transition-speed ease;
        left: 0;
        right: 0;
        bottom: 4px;
        background: $purple;
        opacity: 0;
      }

      &:hover {
        &:after {
          transition: opacity $transition-speed ease;
          opacity: 1;
        }
      }
    }
  }

  .communication {
    padding-left: 40px;
    @include respond(0, 1548px) {
      display: none;
    }
  }
}

.breadcrumbs {

  @include respond($mobile-breakpoint) {
    margin: 65px 0 30px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    margin: 35px 0 25px 0;
  }

  .separator {
    margin: 0 8px 0 1px;
    font-size: 16px;
  }

  a,
  span {
    font-size: 13px;
    color: $purple;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.769;
    letter-spacing: 2.5px;
  }
}

.asphalt {
  background: $gray;
}

.form {
  .form-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .form-policy {
    font-size: 14px;
    color: $white;
    line-height: 1.2;
    font-weight: 500;
    margin-left: 22px;

    a {
      color: $white;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.2;
    }
  }

  textarea {
    border-radius: 4px;
    background: $white;
    width: 100%;
    max-width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    max-height: 100px;
    font-size: 16px;
    padding: 12px 24px;
    box-sizing: border-box;
    color: $dark;
    line-height: 1.875;

    &::placeholder {
      font-size: 16px;
      color: rgb(147, 147, 147);
      line-height: 1.875;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="pasword"],
  input[type="number"] {
    height: 55px;
    border-radius: 4px;
    background: $white;
    width: 100%;
    max-width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: $dark;
    padding: 0 24px;
    box-sizing: border-box;
    line-height: 1.875;

    &::placeholder {
      font-size: 16px;
      color: rgb(147, 147, 147);
      line-height: 1.875;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  .column {
    width: calc(50% - 3px);
  }
}

.site-panel {
  @include respond(1364px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include respond(0, 1364px) {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
  min-height: 100px;
  display: flex;
  align-items: center;

  .phone {
    position: relative;
    margin-bottom: 7px;
  }

  .phone-icon {
    position: absolute;
    right: calc(100% + 11px);
    top: 1px;
  }

  .phone-link {
    color: $dark;
    letter-spacing: .2px;
  }

  .email-link {
    color: transparentize($dark, .5);
  }
}

.email-link,
.phone-link,
.nav-link {
  transition: color $transition-speed ease;

  &:hover {
    color: $purple;
  }
}

.gray-svg {
  fill: transparentize($dark, .7);
}

footer {
  background: $light-gray;
  flex: 0 0 auto;

  .full-height {
    @include respond(1548px) {
      height: 100px;
    }
  }

  .communication {
    @include respond(1548px) {
      padding-left: 40px;
    }
    @include respond(0, 1548px) {
      padding-left: 30px;
      margin-bottom: 30px;
    }
  }

  nav {
    @include respond(0, $mobile-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
    @include respond(0, 1548px) {
      margin: 35px 0;
    }
    @include respond(1548px) {
      margin: 0 auto;
    }
    @include respond(1548px) {
      .nav-link {
        &:after {
          content: '';
          position: absolute;
          background: $white;
          height: 4px;
          transition: opacity $transition-speed ease;
          left: 0;
          right: 0;
          bottom: 4px;
          background: $purple;
          opacity: 0;
        }

        &:hover {
          &:after {
            transition: opacity $transition-speed ease;
            opacity: 1;
          }
        }
      }
    }

  }

  .phone {
    @include respond(0, 1548px) {
      display: flex;
    }
    @include respond(1548px) {
      margin-right: 55px;
    }
  }

  .logo {
    @include respond(1548px) {
      padding-right: 15px;
    }
  }

  @include respond(0, 1548px) {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
  }
}

.products {
  @include respond(760px) {
    margin-bottom: 80px;
  }
  @include respond(0, 760px) {
    margin-bottom: 40px;
  }
}

.text-center {
  text-align: center;
}

.load-more {
  max-width: 215px;
  width: 100%;
  box-sizing: border-box;
}

.rent-cards {
  display: grid;
  padding-bottom: 50px;

  @include respond($mobile-breakpoint) {
    padding-top: 25px;
  }
  @include respond(0, $mobile-breakpoint) {
    padding-top: 25px;
  }

  @include respond(1048px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include respond(0, 1048px) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(0, 760px) {
    grid-template-columns: 1fr;
  }

  @include respond(1366px) {
    grid-gap: 60px;
  }
  @include respond(0, 1366px) {
    grid-gap: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;

    .product-actions {
      display: flex;
      @include respond(0, 1147px) {
        margin-top: 20px;
        flex-direction: column-reverse;
      }
      .price {
        display: inline-flex;
        font-weight: 500;
        color: $purple;
        svg {
          fill: $purple;
          transform: translateY(1px);
        }
        align-items: center;
      }
    }

    .content {
      flex: 1;
    }

    .image {
      display: block;
      text-decoration: none;

      img {
        max-width: 100%;
        width: 100%;
        display: block;
      }
    }

    .product-options {
      letter-spacing: .4px;
      font-size: 16px;
      line-height: 1.75;
      font-weight: 300;
      flex: 1;

      b {
        display: block;
        font-weight: 500;
        margin-top: 25px;
      }
    }

    .product-inner {
      @include respond(1147px) {
        padding: 22px 40px 50px 40px;
      }
      @include respond(0, 1147px) {
        padding: 22px 26px 34px 26px;
      }
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .product-link {
      display: inline-flex;
      color: $dark;
      align-items: center;
      text-decoration: none;
      letter-spacing: .7px;
      transition: color $transition-speed ease;

      @include respond(760px) {
        margin-right: 22px;
      }
      @include respond(0, 760px) {
        margin-top: 8px;
      }

      &:hover {
        color: $orange;

        svg {
          fill: $orange;
        }
      }

      svg {
        fill: $dark;
        transition: fill $transition-speed ease;
        margin-left: 20px;
      }
    }

    .product-title {
      font-size: 28px;
      text-decoration: none;
      color: $dark;
      font-weight: bold;
      line-height: 1.357;
      transition: color $transition-speed ease;
      @include respond(760px) {
        padding-right: 35px;
      }

      &:hover {
        color: $purple;
      }
    }

    min-height: 630px;
    background: $white;
    box-shadow: none;
    transition: box-shadow $transition-speed ease;

    &:hover {
      box-shadow: 0 30px 54px 6px rgba(55, 54, 59, 0.09), 14.142px 14.142px 36px 4px rgba(249, 249, 249, 0.1);
    }
  }
}