@import "variables";
@import "mixins";
@import "fonts";
@import "buttons";
@import "fancybox";
@import "contacts";
@import "swiper";

body,
html {
  height: 100%;
  font-family: Commissioner, sans-serif;
}

svg {
  display: block;
}

body {
  box-sizing: border-box;
  color: $dark;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .app-inner {
    flex: 1 0 auto;
  }
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  padding: 0 $container-padding;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;

  .logo-annotation {
    @include respond(0, 1755px) {
      display: none;
    }
    font-size: 11px;
    color: transparentize($dark, .5);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2.091;
    margin-left: 28px;
    padding-left: 26px;
    position: relative;
    letter-spacing: 2.2px;

    &:before {
      width: 1px;
      background: transparentize($dark, .7);
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      bottom: 2px;
    }
  }

  .logo-link {
    display: block;

    svg {
      max-width: 100%;
    }
  }
}

.phone {
  .phone-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }

}

.block-title {
  margin-bottom: 0;
  margin-top: 0;

  &_padding {
    @include respond($mobile-breakpoint) {
      padding-top: 22px;
    }
  }

  @include respond($mobile-breakpoint) {
    font-size: 52px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 34px;
  }
  font-weight: bold;
  line-height: 1.346;
  letter-spacing: .4px;
}

nav {
  display: flex;

  .nav-link {
    font-weight: 500;
    color: $dark;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .35px;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 0 8px;

    svg {
      margin-left: 10px;
    }

    @include respond(0, $mobile-breakpoint) {
      margin: 6px 0;
    }

    &:not(:last-child) {
      @include respond(1755px) {
        margin-right: 28px;
      }
      @include respond($mobile-breakpoint, 1755px) {
        margin-right: 20px;
      }
    }

  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.burger {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;

  @include respond(1275px) {
    display: none;
  }

  &:hover {
    .burger-line {
      background: $purple;
    }
  }

  .burger-line {
    transition: background $transition-speed ease;
    height: 2px;
    width: 32px;
    background: $dark;
    display: block;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.app-content {
  padding-top: 100px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: $white;
  box-shadow: 0 0 50px 0 rgba(38, 37, 39, 0.3);
  z-index: 2;

  .full-height {
    height: 100px;
  }

  .phone {
    margin-right: 55px;
  }

  .logo {
    padding-right: 15px;
    @include respond(0, 1275px) {
      margin-right: auto;
    }
    @include respond(0, $mobile-breakpoint) {
      padding-right: 25px;
    }
  }

  .request {
    @include respond(0, 1275px) {
      display: none;
    }
  }

  nav {
    @include respond(0, 1275px) {
      display: none;
    }
    @include respond(1548px) {
      margin: 0 auto;
    }
    @include respond(1275px, 1548px) {
      margin-left: auto;
      margin-right: 25px;
    }

    .nav-link {
      &:after {
        content: '';
        position: absolute;
        background: $white;
        height: 4px;
        transition: opacity $transition-speed ease;
        left: 0;
        right: 0;
        bottom: 4px;
        background: $purple;
        opacity: 0;
      }

      &:hover {
        &:after {
          transition: opacity $transition-speed ease;
          opacity: 1;
        }
      }
    }
  }

  .communication {
    padding-left: 40px;
    @include respond(0, 1548px) {
      display: none;
    }
  }
}

.breadcrumbs {

  @include respond($mobile-breakpoint) {
    padding: 62px 0 12px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 35px 0 25px 0;
  }

  .separator {
    margin: 0 8px 0 1px;
    font-size: 16px;
    line-height: 1.2;
  }

  &:not(&-white) {
    a,
    span {
      color: $purple;
    }
  }

  &-white {
    a,
    span {
      color: $white;
    }
  }

  a,
  span {
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.769;
    letter-spacing: 2.5px;
  }
}

.relative {
  position: relative;
  z-index: 1;
}

.big-slider {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  @include respond($mobile-breakpoint) {
    min-height: calc(100vh - 100px);
  }
  display: flex;
  justify-content: center;
  flex-direction: column;

  .icon-down {
    margin-top: auto;
  }

  .relative {
    display: flex;
    flex-direction: column;
  }

  .icon-down {
    transform: translateX(-10px);
    @include respond(0, $mobile-breakpoint) {
      display: none;
    }
  }

  &:not(.frontpage) {
    height: 800px;
    padding-bottom: 80px;

    .buttons {
      @include respond($mobile-breakpoint) {
        margin-top: 90px;
      }
      @include respond(0, $mobile-breakpoint) {
        margin-top: 35px;
      }
    }
  }

  &.frontpage {
    @include respond($mobile-breakpoint) {
      min-height: 660px;
      height: calc(100vh - 100px);
    }
    @include respond(0, $mobile-breakpoint) {
      //min-height: 480px;
      padding: 30px 0 38px 0;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .buttons {
      @include respond($mobile-breakpoint) {
        margin-top: 40px;
        margin-bottom: 98px;
      }
      @include respond(0, $mobile-breakpoint) {
        margin-top: 25px;
        margin-bottom: 28px;
      }
    }
  }

  .buttons {
    @include respond($mobile-breakpoint) {
      margin-top: 90px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-top: 35px;
    }
    display: flex;
    @include respond(0, $mobile-breakpoint) {
      flex-direction: column;
      align-items: flex-start;
    }

    .btn {
      padding: 0 22px;
    }

    .btn-orange {
      max-width: 260px;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      @include respond($mobile-breakpoint) {
        margin-right: 30px;
      }
      @include respond(0, $mobile-breakpoint) {
        margin-bottom: 14px;
      }
    }

    .btn-white {
      max-width: 260px;
      text-align: center;
      box-sizing: border-box;
      width: 100%;
    }
  }

  .title {
    @include respond($mobile-breakpoint) {
      margin-top: 65px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-top: 35px;
    }
  }

  .title {
    @include respond($mobile-breakpoint) {
      font-size: 60px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 18px;
    }
    color: $white;
    font-weight: bold;
    line-height: 1.167;
    max-width: 680px;

    letter-spacing: .5px;
  }

  .text {
    @include respond($mobile-breakpoint) {
      font-size: 21px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 18px;
    }
    color: $white;
    line-height: 1.429;
    max-width: 584px;
    margin-top: 21px;
    letter-spacing: .6px;
  }

  &.frontpage {
    &:after {
      background: transparentize(#333335, .8);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  &:not(.frontpage) {
    &:after {
      background: transparentize(#2e1a00, .6);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
  }
}

.asphalt {
  background: $gray;
}

.form {
  .form-controls {
    display: flex;
    margin-top: 20px;

    @include respond(560px) {
      align-items: center;
    }
    @include respond(0, 560px) {
      flex-direction: column-reverse;
    }
  }

  .form-policy {
    font-size: 14px;
    color: $white;
    line-height: 1.2;
    font-weight: 500;

    @include respond(560px) {
      margin-left: 22px;
    }
    @include respond(0, 560px) {
      margin-bottom: 20px;
    }

    a {
      color: $white;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.2;
    }
  }

  textarea {
    border-radius: 4px;
    background: $white;
    width: 100%;
    max-width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    max-height: 100px;
    font-size: 16px;
    @include respond(640px) {
      padding: 12px 24px;
    }
    @include respond(0, 640px) {
      padding: 12px 15px;
    }
    box-sizing: border-box;
    color: $dark;
    line-height: 1.875;

    &::placeholder {
      font-size: 16px;
      color: rgb(147, 147, 147);
      line-height: 1.875;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="pasword"],
  input[type="number"] {
    height: 55px;
    border-radius: 4px;
    background: $white;
    width: 100%;
    max-width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: $dark;
    @include respond(640px) {
      padding: 0 24px;
    }
    @include respond(0, 640px) {
      padding: 0 15px;
    }
    box-sizing: border-box;
    line-height: 1.875;

    &::placeholder {
      font-size: 16px;
      color: rgb(147, 147, 147);
      line-height: 1.875;
    }
  }

  .row {
    @include respond(640px) {
      display: flex;
      justify-content: space-between;
    }

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  .column {
    @include respond(640px) {
      width: calc(50% - 3px);
    }
    @include respond(0, 640px) {
      margin-bottom: 7px;
    }
  }
}

.site-panel {
  @include respond(1364px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include respond(0, 1364px) {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
  min-height: 100px;
  display: flex;
  align-items: center;

  .phone {
    position: relative;
    margin-bottom: 7px;
  }

  .phone-icon {
    position: absolute;
    right: calc(100% + 11px);
    top: 1px;
  }

  .phone-link {
    color: $dark;
    letter-spacing: .2px;
  }

  .email-link {
    color: transparentize($dark, .5);
  }
}

.email-link,
.phone-link,
.nav-link {
  transition: color $transition-speed ease;

  &:hover {
    color: $purple;
  }
}

.gray-svg {
  fill: transparentize($dark, .7);
}

footer {
  background: $light-gray;
  flex: 0 0 auto;

  .full-height {
    @include respond(1548px) {
      height: 100px;
    }
  }

  .communication {
    @include respond(1548px) {
      padding-left: 40px;
    }
    @include respond(0, 1548px) {
      padding-left: 30px;
      margin-bottom: 30px;
    }
  }

  nav {
    @include respond(0, $mobile-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
    @include respond(0, 1548px) {
      margin: 35px 0;
    }
    @include respond(1548px) {
      margin: 0 auto;
    }
    @include respond(1548px) {
      .nav-link {
        &:after {
          content: '';
          position: absolute;
          background: $white;
          height: 4px;
          transition: opacity $transition-speed ease;
          left: 0;
          right: 0;
          bottom: 4px;
          background: $purple;
          opacity: 0;
        }

        &:hover {
          &:after {
            transition: opacity $transition-speed ease;
            opacity: 1;
          }
        }
      }
    }

  }

  .phone {
    @include respond(0, 1548px) {
      display: flex;
    }
    @include respond(1548px) {
      margin-right: 55px;
    }
  }

  .logo {
    @include respond(1548px) {
      padding-right: 15px;
    }
  }

  @include respond(0, 1548px) {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
  }
}

.last-margin {
  @include respond(760px) {
    margin-bottom: 80px;
  }
  @include respond(0, 760px) {
    margin-bottom: 40px;
  }
}

.text-center {
  text-align: center;
}

.load-more {
  max-width: 250px;
  width: 100%;
  box-sizing: border-box;
}

.service-cards {
  display: grid;
  padding-bottom: 70px;
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  padding-top: 60px;

  @include respond(960px) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(0, 960px) {
    grid-template-columns: 1fr;
  }

  .card {
    position: relative;
    background: $white;

    @include respond(640px) {
      min-height: 457px;
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  .service-image {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: transparentize($dark, .6);
    }
  }

  .service-inner {
    color: $white;
    height: 100%;
    @include respond(760px) {
      padding: 58px 40px 38px 80px;
    }
    @include respond(0, 760px) {
      padding: 30px;
    }
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .service-title {
    @include respond(760px) {
      font-size: 28px;
    }
    @include respond(0, 760px) {
      font-size: 20px;
    }
    font-weight: bold;
    line-height: 1.179;
    letter-spacing: .7px;
    display: inline-block;
    color: $white;
    text-decoration: none;
    margin-bottom: 19px;
    transition: color $transition-speed ease;

    &:hover {
      color: $orange;
    }
  }

  .detail-link {
    @include respond(640px) {
      margin-top: auto;
    }
    @include respond(0, 640px) {
      margin-top: 20px;
    }
  }

  .service-annotation {
    font-size: 16px;
    line-height: 2.063;
    font-weight: 300;
    letter-spacing: .3px;

    @include respond(0, 640px) {
      margin: 25px 0;
    }
  }

}

.detail-link {
  display: inline-flex;
  font-weight: 500;

  &_dark {
    color: $dark;
  }

  &_light {
    color: $white;
  }

  align-items: center;
  text-decoration: none;
  letter-spacing: .7px;
  transition: color $transition-speed ease;

  @include respond(760px) {
    margin-right: 22px;
  }
  @include respond(0, 760px) {
    margin-top: 8px;
  }

  &_dark {
    svg {
      fill: $dark;
    }

    &:hover {
      color: $orange;

      svg {
        fill: $orange;
      }
    }
  }

  &_light {
    svg {
      fill: $white;
    }

    &:hover {
      color: $orange;

      svg {
        fill: $orange;
      }
    }
  }

  svg {
    transition: fill $transition-speed ease;
    margin-left: 20px;
  }
}

.categories {
  padding-top: 25px;

  a {
    font-size: 16px;
    color: $dark;
    text-decoration: none;
    font-weight: 500;
    line-height: 2.063;
    position: relative;
    display: inline-block;
    letter-spacing: .35px;
    margin-bottom: 23px;
    transition: color $transition-speed ease;

    &:hover {
      color: $purple;

      &:after {
        opacity: 1;
      }
    }

    &:after {
      transition: opacity $transition-speed ease;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      display: block;
      background: $purple;
      opacity: 0;
      bottom: -6px;
    }

    &:not(:last-child) {
      @include respond(450px) {
        margin-right: 46px;
      }
      @include respond(0, 450px) {
        display: block;
      }
    }
  }
}

.cards {
  display: grid;
  padding-bottom: 50px;

  @include respond($mobile-breakpoint) {
    &:not(.fix-padding) {
      padding-top: 60px;
    }
    &.fix-padding {
      padding-top: 22px;
    }
  }
  @include respond(0, $mobile-breakpoint) {
    padding-top: 25px;
  }

  @include respond(1048px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include respond(0, 1048px) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(0, 760px) {
    grid-template-columns: 1fr;
  }

  @include respond(1366px) {
    grid-gap: 60px;
  }
  @include respond(0, 1366px) {
    grid-gap: 30px;
  }

}

.cards-wrapper {

  .card {
    display: flex;
    flex-direction: column;

    .product-actions {
      display: flex;
      @include respond(0, 1147px) {
        margin-top: 20px;
        flex-direction: column-reverse;
      }

      .price {
        display: inline-flex;
        font-weight: 500;
        color: $purple;

        svg {
          fill: $purple;
          transform: translateY(1px);
        }

        align-items: center;
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .image {
      display: block;
      text-decoration: none;

      img {
        max-width: 100%;
        width: 100%;
        display: block;
      }
    }

    .product-options {
      letter-spacing: .4px;
      font-size: 16px;
      line-height: 1.75;
      font-weight: 300;
      flex: 1;

      b {
        display: block;
        font-weight: 500;
      }
    }

    .product-inner {
      flex: 1;
      @include respond(1147px) {
        padding: 22px 38px 50px 38px;
      }
      @include respond(0, 1147px) {
        padding: 22px 26px 34px 26px;
      }
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .product-title {
      @include respond($mobile-breakpoint) {
        font-size: 28px;
      }
      @include respond(0, $mobile-breakpoint) {
        font-size: 23px;
      }
      text-decoration: none;
      color: $dark;
      font-weight: bold;
      line-height: 1.357;
      transition: color $transition-speed ease;
      margin-bottom: 25px;
      display: inline-block;

      &:hover {
        color: $purple;
      }
    }

    @include respond(760px) {
      min-height: 630px;
    }
    background: $white;
    box-shadow: none;
    transition: box-shadow $transition-speed ease;

    &:hover {
      box-shadow: 0 30px 54px 6px rgba(55, 54, 59, 0.09), 14.142px 14.142px 36px 4px rgba(249, 249, 249, 0.1);
    }
  }
}

.advantages {

  @include respond($mobile-breakpoint) {
    padding: 146px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 50px 0;
  }

  .cards {
    display: grid;

    @include respond($mobile-breakpoint) {
      margin-top: 62px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-top: 50px;
    }

    @include respond(960px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 35px;
    }
    @include respond(0, 960px) {
      grid-template-columns: 1fr;
      grid-gap: 25px;
    }

    .card {
      background: $white;
      position: relative;
      min-height: 310px;
      @include respond(1256px) {
        padding: 20px 74px 35px 74px;
      }
      @include respond(0, 1256px) {
        padding: 20px;
      }
      box-sizing: border-box;

      .top {
        display: flex;
        justify-content: space-between;
      }

      .text {
        @include respond(1256px) {
          font-size: 21px;
        }
        @include respond(0, 1256px) {
          font-size: 18px;
        }
        font-weight: 500;
        color: $white;
        line-height: 1.571;
        letter-spacing: .55px;
        margin-top: 13px;
      }

      .icon {
        padding-top: 22px;
        @include respond(0, 400px) {
          display: none;
        }
      }

      .sort {
        font-weight: bold;
        font-size: 100px;
        color: transparentize($white, .5);
        pointer-events: none;
        user-select: none;
      }

      > * {
        position: relative;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        background: transparentize(#211608, .5);
      }
    }
  }
}

.numbers {
  display: grid;
  margin-top: 44px;
  grid-gap: 35px;

  @include respond($mobile-breakpoint) {
    padding-bottom: 140px;
  }
  @include respond(0, $mobile-breakpoint) {
    padding-bottom: 50px;
  }

  @include respond(1252px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include respond(860px, 1252px) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(0, 860px) {
    grid-template-columns: 1fr;
  }

  .cell {
    @include respond($mobile-breakpoint) {
      padding: 42px;
      height: 408px;
    }
    @include respond(0, $mobile-breakpoint) {
      padding: 30px 20px;
    }
    background: $orange;
    color: $white;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    .title {
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 37px;
    }

    .text {
      font-weight: 300;
      @include respond($mobile-breakpoint) {
        font-size: 21px;
      }
      @include respond(0, $mobile-breakpoint) {
        font-size: 18px;
      }
      margin-top: 22px;
      line-height: 1.429;
      padding: 0 8px;
    }

    .number-title {
      font-size: 21px;
      font-weight: 500;
    }

    .number {
      font-size: 52px;
      font-weight: bold;
    }
  }
}

.project-card {

  @include respond($mobile-breakpoint) {
    display: flex;
  }

  @include respond(1300px) {
    margin-bottom: 190px;
  }
  @include respond(0, 1300px) {
    margin-bottom: 90px;
  }

  .first {
    letter-spacing: .4px;
    flex: 1;
  }

  .customer-heading {
    font-size: 28px;
    color: $dark;
    font-weight: bold;
    line-height: 2;
  }

  .customer-logo {
    margin-top: 30px;

    img {
      padding-bottom: 16px;
      display: block;
      border-bottom: 1px solid $purple;
    }
  }

  .customer-value {
    color: $dark;
    @include respond(1300px) {
      padding-right: 175px;
      font-size: 20px;
    }
    @include respond(0, 1300px) {
      padding-right: 75px;
      font-size: 17px;
    }
    font-weight: 200;
    line-height: 1.65;
  }

  .customer-row {
    &:not(:last-child) {
      @include respond(1300px) {
        margin-bottom: 35px;
      }
      @include respond(0, 1300px) {
        margin-bottom: 10px;
      }
    }
  }

  .project-image {
    max-width: 100%;
    @include respond($mobile-breakpoint) {
      margin-top: 126px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-top: 35px;
    }

    @include respond($mobile-breakpoint, 1300px) {
      max-width: 440px;
    }
  }

  .customer-title {
    font-size: 22px;
    color: $dark;
    line-height: 1.227;
    font-weight: 200;
    margin-top: 11px;

    @include respond(1300px) {
      margin-bottom: 50px;
    }
    @include respond(0, 1300px) {
      margin-bottom: 30px;
    }
  }
}

.project-gallery {
  display: grid;
  grid-gap: 30px;
  @include respond($mobile-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include respond(760px, $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(0, 760px) {
    grid-template-columns: 1fr;
  }
  margin-bottom: 56px;

  a {
    display: block;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }

    transition: box-shadow $transition-speed ease;

    &:hover {
      box-shadow: 0 0 14.25px 0.75px rgba(0, 0, 0, 0.2);
    }
  }
}

.about-block {
  &:not(.frontpage) {
    margin-top: 40px;
  }

  &.frontpage {
    @include respond($mobile-breakpoint) {
      padding: 125px 0 140px 0;
    }
    @include respond(0, $mobile-breakpoint) {
      padding: 30px 0 45px 0;
    }
  }

  .about-title {
    @include respond($mobile-breakpoint) {
      font-size: 21px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 18px;
    }
    font-weight: 500;
    line-height: 1.571;
    margin-top: 24px;
    letter-spacing: .5px;
  }

  .about-text {
    @include respond($mobile-breakpoint) {
      font-size: 18px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 16px;
    }
    line-height: 1.667;
    font-weight: 300;
    letter-spacing: .4px;
  }

  .columns {
    @include respond(1226px) {
      display: flex;
    }

    .column {

      @include respond(1226px) {
        width: 50%;
      }

      &:first-child {
        @include respond(1226px) {
          padding-right: 112px;
          box-sizing: border-box;
        }
      }

      &:last-child {
        @include respond(1226px) {
          text-align: right;
        }
      }

      img {
        max-width: 100%;
        margin-top: 15px;
      }
    }
  }
}

.swiper-container {
  &:not(.service-info_slider):not(.frontpage-slider) {
    overflow: visible;
  }
}

.service-block {
  background: $gray;
  overflow: hidden;

  &:not(.simple) {
    .swiper-control {
      @include respond(750px) {
        margin-top: 55px;
      }
      @include respond(0, 750px) {
        margin-top: 25px;
      }
    }
  }

  @include respond($mobile-breakpoint) {
    padding: 112px 0 173px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 50px 0 10px 0;
  }

  .projects-slider {
    @include respond(750px) {
      margin-top: 48px;
    }
    @include respond(0, 750px) {
      margin-top: 25px;
    }
  }
}

.documents-block {
  background: $white;
  overflow: hidden;

  @include respond($mobile-breakpoint) {
    padding: 150px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 50px 0;
  }

  .documents-slider {

    @include respond(550px) {
      margin-top: 60px;
    }
    @include respond(0, 550px) {
      margin-top: 25px;
    }
  }

  .swiper-slide {
    color: $white;
    text-decoration: none;
    display: flex;

    .doc-info {
      display: flex;
      flex-direction: column;
      padding: 55px 40px;
      box-sizing: border-box;
    }

    .extension {
      width: 55px;
      height: 55px;
      border: 2px solid $white;
      font-size: 21px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
    }

    .title {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.357;
      margin-bottom: auto;
    }

    outline: none;
    background: $gray-document;
    min-height: 550px;
    box-sizing: border-box;
    box-shadow: 0 30px 54px 6px rgba(55, 54, 59, 0.13), 14.142px 14.142px 36px 4px rgba(249, 249, 249, 0.1);
    transition: box-shadow $transition-speed ease;

    .doc-image {
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        max-height: 388px;
        max-width: 100%;
      }
    }

    &:hover {
      background: $orange;
      box-shadow: 0 30px 54px 6px rgba(55, 54, 59, 0.13), 14.142px 14.142px 36px 4px rgba(249, 249, 249, 0.1), 0 30px 54px 6px rgba(55, 54, 59, 0.13), 14.142px 14.142px 36px 4px rgba(249, 249, 249, 0.1);

      .doc-image {
        display: flex;
      }

      .doc-info {
        display: none;
      }
    }
  }
}

.swiper-pagination {
  @include respond(0, 950px) {
    margin-bottom: 38px;
  }
}

.slider-bottom {
  display: flex;

  @include respond(666px) {
    justify-content: space-between;
    margin-top: 45px;
  }
  @include respond(0, 666px) {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
}

.slider-header {
  display: flex;

  @include respond(720px) {
    align-items: center;
    justify-content: space-between;
  }

  @include respond(0, 720px) {
    flex-direction: column;
  }

  .block-title {
    margin-right: 35px;
  }
}

.swiper-control {
  display: flex;
  align-items: center;

  @include respond(0, 550px) {
    margin-top: 20px;
  }

  &.dark {
    .swiper-button-prev,
    .swiper-button-next {
      background: #e1e1e3;
      &:hover {
        background: $orange;
      }
    }
  }
}

.swiper-button-prev {
  margin-right: 20px;

  svg {
    transform: rotate(180deg);
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 55px;
  height: 55px;
  background: $swiper-button;
  display: flex;
  outline: none;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  transition: background $transition-speed ease;

  svg {
    fill: $dark;
    transition: fill $transition-speed ease;
  }

  &:hover {
    background: $orange;

    svg {
      fill: $white;
    }
  }
}

.half {
  @include respond(1218px) {
    width: 50%;
    box-sizing: border-box;
  }

  @include respond(1310px) {
    padding-right: 135px;
  }
  @include respond(1218px, 1310px) {
    padding-right: 45px;
  }

  p {
    margin-bottom: 26px;
  }
}

.service-info_slider {
  @include respond(1218px) {
    transform: translateY(-38px);
    .swiper-wrapper {
      padding: 25px 0 55px 55px;
    }
  }
  @include respond(0, 1218px) {
    padding: 20px 20px 50px 20px;
    box-sizing: border-box;
  }
}

.little-logo {
  fill: $icon-svg;
  z-index: 1;
  position: absolute;
  bottom: 48px;
  right: 40px;
  pointer-events: none;
  @include respond(0, 940px) {
    display: none;
  }
}

.big-logo {
  fill: transparentize($white, .9);
  z-index: 1;
  position: absolute;
  right: -46px;
  bottom: -78px;
  pointer-events: none;
}

.slider-annotation {
  @include respond($mobile-breakpoint) {
    font-size: 21px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 18px;
  }
  line-height: 1.571;
  margin-top: 24px;
  font-weight: 500;
}

.service-info {
  position: relative;

  @include respond(1218px) {
    margin: 145px 0 123px 0;
  }
  @include respond(0, 1218px) {
    margin: 45px 0 0 0;
  }

  .title,
  b,
  strong {
    @include respond($mobile-breakpoint) {
      font-size: 21px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 18px;
    }

    font-weight: 500;
    line-height: 1.571;
    letter-spacing: .5px;
  }

  .text,
  p {
    font-weight: 300;
    letter-spacing: .4px;
    line-height: 1.7;

    @include respond($mobile-breakpoint) {
      font-size: 18px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 16px;
    }
  }

  .first {
    @include respond(1218px) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .slider-bottom {
    margin-top: 0;
    position: relative;
    z-index: 1;

    @include respond(1218px) {
      padding-left: 55px;
      transform: translateY(-66px);
    }
    @include respond(0, 1218px) {
      padding: 0 20px;
      transform: translateY(-25px);
    }

  }

  .columns {

    @include respond(1218px) {
      display: flex;
    }

    .swiper-slide {
      @include respond(1218px) {
        max-width: 590px !important;
        width: 100% !important;
      }
      transition: box-shadow $transition-speed ease;

      &:hover {
        box-shadow: 0 14px 32px 5px rgba(55, 54, 59, 0.26);
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .column {
      @include respond(1218px) {
        width: 50%;
        margin-left: 50%;
        position: relative;
      }
    }
  }
}

.read-more {
  margin-top: 28px;
}

.with-padding {
  padding-top: 25px;
}

.label {
  margin-bottom: 16px;
  font-size: 13px;
  color: $purple;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.769;
  letter-spacing: 3px;
}

.frontpage-slider {
  margin: 0;
  box-sizing: border-box;

  .swiper-slide {
    @include respond($mobile-breakpoint) {
      padding-left: 72px;
    }

    .container {
      @include respond(0, $mobile-breakpoint) {
      }
    }
  }
}

.white {
  display: flex;
  z-index: 1;

  @include respond(0, $mobile-breakpoint) {
    padding: 0 20px;
  }
  @include respond($mobile-breakpoint) {
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    flex-direction: column;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background: transparentize($white, .6);
  }

  .swiper-pagination-bullet-active {
    background: $white;
  }
}

.swiper-container-vertical + .swiper-pagination {

  .swiper-pagination-bullet {
    background: transparentize($white, .7);
    transition: height $transition-speed ease, color $transition-speed ease;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .swiper-pagination-bullet-active {
    height: 28px;
    width: 7px;
    background: $white;
  }
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 8px;
  transition: width $transition-speed ease;
  background: transparentize($dark, .7);
  outline: none;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  appearance: none;
}

.swiper-pagination-bullet-active {
  background: $dark;
  width: 28px;
}

.partners-block {
  overflow: hidden;

  .partners-slider {
    @include respond($mobile-breakpoint) {
      margin-top: 50px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-top: 30px;
    }
  }

  .swiper-slide {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid transparentize(#353338, .7);
    transition: border-color $transition-speed ease;

    &:hover {
      border: 1px solid #353338;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  @include respond($mobile-breakpoint) {
    padding: 125px 0 100px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 45px 0 46px 0;
  }

  .swiper-control {
    @include respond(750px) {
      margin-top: 55px;
    }
    @include respond(0, 750px) {
      margin-top: 25px;
    }
  }
}

.frontpage-service_slider {
  margin-top: 62px;

  .swiper-slide {
    position: relative;
    text-decoration: none;
    @include respond(900px) {
      padding: 55px 48px;
      height: 450px;
    }
    @include respond(0, 900px) {
      padding: 35px;
      height: 355px;
    }
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .number {
      text-align: right;
      margin-top: auto;
      position: relative;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      z-index: 1;

      span {
        font-size: 26px;
        font-weight: 500;
      }
    }

    .title {
      position: relative;
      z-index: 1;
      @include respond(900px) {
        font-size: 28px;
      }
      @include respond(0, 900px) {
        font-size: 22px;
      }
      color: $white;
      font-weight: bold;
      line-height: 1.357;
    }

    &:after {
      content: '';
      background: transparentize(#000, .76);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.reviews-block {
  overflow: hidden;

  @include respond($mobile-breakpoint) {
    padding: 110px 0 100px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 50px 0 20px 0;
  }

  .reviews-slider {
    @include respond($mobile-breakpoint) {
      margin-top: 45px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-top: 30px;
    }
  }

  .icon {
    opacity: .1;
    @include respond(1218px) {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }
    @include respond(0, 1218px) {
      order: -1;
      margin-bottom: 20px;
    }

  }

  .detail-link {
    margin-top: auto;
    padding-top: 20px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond(1218px) {
      height: 380px;
      width: 840px;
    }
    padding: 50px 40px;
    box-sizing: border-box;
    border: 1px solid transparentize($dark, .7);
    transition: border-color $transition-speed ease;

    &:hover {
      border-color: $dark;
    }
  }

  .person {
    font-size: 21px;
    color: $dark;
    font-weight: 500;
    line-height: 1.571;
  }

  .role {
    font-size: 18px;
    color: transparentize($dark, .5);
    line-height: 1.667;
    font-weight: 300;
    margin: 8px 0 18px 0;
  }

  .text {
    font-size: 16px;
    color: $dark;
    line-height: 1.75;
    font-weight: 300;
  }
}